name: CI

on:
  pull_request:
    paths-ignore:
      - "**/*.md"
  push:
    branches: [main]
    paths-ignore:
      - "**/*.md"

jobs:
  checks:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Type check
        run: pnpm build

      - name: Prettier
        if: matrix.os == 'ubuntu-latest'
        run: pnpm format:check

      - name: Tests
        run: pnpm test
